@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*Основной цвет фона*/
  --color-base-fon: hsla(201, 74%, 5%, 1);

  /* Основной цвет */
  --color-primary: hsl(196, 76%, 11%);

  /* Градиент от светлого к тёмному */
  --color-primary-50: hsl(196, 76%, 90%);
  --color-primary-100: hsl(196, 76%, 80%);
  --color-primary-200: hsl(196, 76%, 70%);
  --color-primary-300: hsl(196, 76%, 60%);
  --color-primary-400: hsl(196, 76%, 50%);
  --color-primary-500: hsl(196, 76%, 41%);
  --color-primary-600: hsl(196, 76%, 31%);
  --color-primary-700: hsl(196, 76%, 21%);
  --color-primary-800: hsl(196, 76%, 11%);
  --color-primary-900: hsl(196, 76%, 6%);
  --color-primary-950: hsl(196, 76%, 3%);

  /* Градиент от светлого к тёмному */
  --color-gray-50: hsl(0, 0%, 100%);
  --color-gray-100: hsl(0, 0%, 89%);
  --color-gray-200: hsl(0, 0%, 78%);
  --color-gray-300: hsl(0, 0%, 67%);
  --color-gray-400: hsl(0, 0%, 56%);
  --color-gray-500: hsl(0, 0%, 44%);
  --color-gray-600: hsl(0, 0%, 33%);
  --color-gray-700: hsl(0, 0%, 22%);
  --color-gray-800: hsl(0, 0%, 11%);
  --color-gray-900: hsl(0, 0%, 6%);
  --color-gray-950: hsl(0, 0%, 3%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.25rem;
  border: 0.025rem solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  header {
    height: fit-content;
  }
}
@media screen and (max-width: 400px) {
  header {
    height: fit-content;
  }
}
